
# 邮件配置
MAIL_SERVER=smtp.qq.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USE_SSL=False
MAIL_USERNAME=xxx@qq.com
MAIL_PASSWORD=xxx
MAIL_RECIPIENTS=xxx@qq.com

# 调试模式
DEBUG_MODE=True

# 端口
PORT=5000

# 第三方API
COZE_API_KEY=pat_xxx
COZE_BOT_ID=0123
COZE_USER_ID=test

# deepseek
DEEPSEEK_KEY=

# rss_url = https://github.com/weekend-project-space/top-rss-list  

# 是否在项目启动时发送邮件
START_SERVER_SEND_MAIL=False 

# 是否在定时发送邮件
TIMED_SEND_MAIL=False

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=key
LANGSMITH_PROJECT="pr-untimely-sundial-73"

CHROMA_HOST="localhost"
CHROMA_PORT=48000
CHROMA_COLLECTION_NAME="rss_feeds"

MONGODB_URI="mongodb://localhost:27017/"
MONGODB_DB_NAME="rss_app"
MONGODB_DB_USER=""
MONGODB_DB_PWD=""
